---
import Mainlayout from "../layout/Mainlayout.astro"
import Header from "../components/Header.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
import Footer from "../components/Footer.astro"
---
<Mainlayout>
    <header><Header link1="/" link2="/#omos" link3="/#kunstnere" link4="/#kalender" ikon1="img/ig.svg" ikon2="img/fb.svg" ikon3="img/spotify.svg" ikon4="img/yt.svg"/></header>
    <div class="gang"><img src="/img/hihgang.webp" alt="billede af managementet"></div>
    <section>
    <h4>niosha vandchali</h4>  
    <h4>Sigga slente</h4>
    <h4>Fanny Bang</h4> 
    </section>
    <Banner text = "MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;MANAGEMENTET&nbsp;&nbsp;&nbsp;"/>
    <div class="managementet">
<p>HoldiHånd går ud over at være blot et management - vi er en familie. En familie af lidenskabelige individer, der brænder for at omfavne kunst og kultur i alle dens former. Vores hjerte banker for at skabe et hjem for vores kunstnere og byde nye velkommen med åbne arme. Når du vælger at blive repræsenteret af os, bliver vi mere end bare kollegaer i et management, vi bliver venner, nære venner, en familie. Vi ser frem til at høre fra dig <3 Kærlige hilsner fra din (forhåbentlig snart) familie.</p>
    </div>
        <Banner text = "BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;BOOK MØDE&nbsp;&nbsp;&nbsp;"/>
        <p class="besked">Send et besked for at book et møde. Eller send din demo til:</p>
        <p class="demo">kontakt@holdihaand.dk</p>
        <article class="webf">
            <form action="/action_page.php">
                <div class="text"><input type="text" name="name" value="Navn"><br>
                <input type="text" name="e-mail" value="E-mail"><br>
                </div>
                <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>
                <br><br>
                <input type="submit" value="Send">
              </form> 
        </article>
 
</Mainlayout>
<Footer/>

   
<style>
  .demo{
    color: var(--accent_col);
    text-align: center;
    padding-top: 10px
  }
  .besked{
    text-align: center;

  }
  .webf{
            scale: .8; opacity: 0;
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range: 100px 300px;
        }
        @keyframes fade-in {
            to{scale: 1; opacity: 1;}
        }
    textarea{
        width: 260px;
        height: 140px;
        color: rgb(106, 103, 103);
        padding: 5px;
        font-size: 15px;
        background-color: var(--lysgrå_col);
    }
    section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px
}
.text{
  display: flex;
  flex-direction: column;
}

input[type=text]{
  width: 243px;
  height: 43px;
  color: rgb(106, 103, 103);
  background-color: var(--lysgrå_col);
  border: none;
  border-radius: 1.5px;
  font-size: 15px;
  padding-left: 10px;
}
input[type=submit] {
  width: 100px;
    height: 37px;
    font-size: 15px;   
    text-transform: uppercase; 
    color: var(--background_col);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 1px;
}
.checkbox{
padding-bottom: 20px;
}
h4{
  font-size: 15px;
  padding-left: 8px;
}
.managementet{
  margin: 10px;
  padding: 20px;
  background-color: #21314A;
}
@media (min-width: 650px){
.gang{
  display: flex;
  justify-content: center;
}
.gang img{
  width: 750px;
}
h4{
  font-size: 20px;
}

input[type=text]{
  width: 350px;
  height: 57px;
  font-size: 27px;
}
input[type=submit] {
  width: 220px;
      height: 69px;
      font-size: 25px;
    color: var(--background_col);
    cursor: pointer;
    font-weight: bold;
    transition: width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
}

input[type=submit]:hover{
  width: 256px;
      height: 79px;
      font-size: 29px;
    }
    textarea{
        width: 350px;
        height: 144px;
        padding: 5px;
        font-size: 27px;
        margin-top: 10px;
    }
}
@media (min-width: 820px){
  h4{
    font-size: 25px;
  }
  .text{
  display: flex;
  flex-direction: row;
  gap: 27px;
  padding: 30px 0 50px 20px;
}
textarea{
    width: 767px;
    height: 144px;
}
.managementet{
  margin: 10px 100px 10px 100px;
  padding: 50px;
  background-color: #21314A;
}
 }
 @media (min-width: 1040px){
 .managementet{
  margin: 10px 250px 10px 250px;}
  }
</style>