---
import Mainlayout from "../layout/Mainlayout.astro"
import Header from "../components/Header.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
import Logo from "../components/Logo.astro"
---
<Mainlayout>

</Mainlayout>
<footer>
    <Logo></Logo>
    <div class="footer_nav">
        <p class="p_footer">HoldiHånd Management</p>
        <p class="p_footer">+45 93869610</p>
        <p class="p_footer">kontakt@holdihaand.dk</p>
        <div class="ikoner_nav">
           <img class="img_nav" id="ig" src="/img/ig.svg" alt="instagram">
            <img class="img_nav" id="fb" src="/img/fb.svg" alt="facebook">
            <img class="img_nav" id="sp" src="/img/spotify.svg" alt="spotify">
            <img class="img_nav" id="yt" src="/img/yt.svg" alt="youtube">
        </div>
    </div>
</footer>

<style>
    
</style>