---
import Mainlayout from "../layout/Mainlayout.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
---
<Mainlayout>
    <Banner text = "NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;"/>
  <section>
<img src="/public/img/kunstnere.webp" alt="">
<img src="/public/img/kunstnere.webp" alt="">
<img src="/public/img/kunstnere.webp" alt="">
</section>
<section>
<h4>Peter Tolstrup</h4>
<h4>Maja Tolstrup</h4>
<h4>August Tolstrup</h4>
</section>
<div class="text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae commodi quis eaque amet nisi, ex saepe quibusdam quidem. A, tenetur ad quod aperiam impedit quae deleniti id maxime voluptatem voluptates?</p>
</div>
    <Banner text = "NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;"/>
    <article>
        <form action="/action_page.php">
            <div class="text"><input type="text" name="name" value="Navn"><br>
            <input type="text" name="e-mail" value="E-mail"><br>
            </div>
            <input type="submit" value="Send">
          </form> 
    </article>
</Mainlayout>

<style>
    section {
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px
}
.text{
  display: flex;
  flex-direction: column;
}

input[type=text]{
  width: 243px;
  height: 43px;
  color: rgb(106, 103, 103);
  background-color: var(--lysgrå_col);
  border: none;
  border-radius: 1.5px;
  font-size: 15px;
  padding-left: 10px;
}
input[type=submit] {
  width: 100px;
    height: 37px;
    font-size: 15px;   
    text-transform: uppercase; 
    color: var(--background_col);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 1px;
}
.checkbox{
padding-bottom: 20px;
}
@media (min-width: 650px){

input[type=text]{
  width: 350px;
  height: 57px;
  font-size: 27px;
}
input[type=submit] {
  width: 220px;
      height: 69px;
      font-size: 25px;
    color: var(--background_col);
    cursor: pointer;
    font-weight: bold;
    transition: width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
}

input[type=submit]:hover{
  width: 256px;
      height: 79px;
      font-size: 29px;
    }
}
@media (min-width: 820px){
  .text{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 0 50px 0;
}
 }
</style>