---
import Mainlayout from "../layout/Mainlayout.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
import Nav from "../components/Nav.astro"
---

<Mainlayout>
    <Nav>
        <slot />
    </Nav>
<Banner text = "OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;"/>
<Banner text = "KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;"/>
<Banner text = "EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;"/>
<Banner text = "NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;"/>
</Mainlayout>