---
import Mainlayout from "../layout/Mainlayout.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
import Nav from "../components/Nav.astro"
import Kalender from "../components/Kalender.astro"
import Omos from "../components/Omos.astro"
import Form from "../components/Form.astro"
import Hero from "../components/Hero.astro"
import Knap from "../components/Knap.astro"
import Logo from "../components/Logo.astro"
import List from "../components/List.astro"

const data = await fetch("https://udntugbxmijixyecsglu.supabase.co/rest/v1/eksamen_10?order=order.asc",{
	method:"GET",
	headers: {
		apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkbnR1Z2J4bWlqaXh5ZWNzZ2x1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3Mzk5MTcsImV4cCI6MjAzMDMxNTkxN30.F2LbcCGrABehU4gaujhAuDCpNl9dgBtoTZezpERrH8A"
	}
}).then(res=>res.json());

---

<Mainlayout>
    <Hero></Hero>
    <div class="webf">
    <Nav></Nav>
</div>
<!-- <Knap />-->
    <div id="omos"></div>
<Banner text = "OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;&nbsp;"/>
<Omos />
<div id="kunstnere"></div>
<Banner text = "KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;&nbsp;"/>
<!-- <Kunstnere></Kunstnere> -->
<section class="artists">
    {
    data.map((artist) => {
        return <List data={artist} />;
    })}
</section>
<div id="events"></div>
 <Banner text = "EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;&nbsp;"/>
<article class="kalender">
<!--Gøra header2 till link?? -->
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
</article>
 <Banner text = "NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;&nbsp;"/>
<div class="webf">
<article class="nyhedsbrev"> 
<p class="tilmeld">Tilmeld dig vores nyhedsbrev.</p>
<Form />
</article></div>
</Mainlayout>

<style>
.tilmeld{
    font-weight: bold;
    text-align: center;
}
.kalender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.webf{
            scale: .8; opacity: 0;
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range: 100px 300px;
        }
        @keyframes fade-in {
            to{scale: 1; opacity: 1;}
        }
        

@media (min-width: 650px) {
    .kalender{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 30px;
    padding: 0 50px 30px 50px;
}
.nyhedsbrev{
    margin-bottom: 200px;
}
.artists{
  padding: 0 50px 30px 50px;
}
}
.artists{
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	}


</style>