---
import Mainlayout from "../layout/Mainlayout.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
import Nav from "../components/Nav.astro"
import Kalender from "../components/Kalender.astro"
import Omos from "../components/Omos.astro"
import Form from "../components/Form.astro"
import Hero from "../components/Hero.astro"
import Knap from "../components/Knap.astro"
import Logo from "../components/Logo.astro"
import Kunstnere from "../components/Kunstnere.astro"
---

<Mainlayout>
    <Hero></Hero>
    <div class="webf">
    <Nav></Nav>
</div>
<!-- <Knap />-->
    <div id="omos"></div>
<!-- <Banner text = "OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;"/>-->
<Omos></Omos>
<div id="kunstnere"></div>
<Kunstnere></Kunstnere>
<!--<Banner text = "KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;"/> -->
<div id="events"></div>
<!-- <Banner text = "EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;"/>-->
<article class="kalender">
<!--Gøra header2 till link?? -->
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
</article>
<!-- <Banner text = "NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;"/>-->
<div class="webf">
<article class="nyhedsbrev"> 
<p class="tilmeld">Tilmeld dig vores nyhedsbrev.</p>
<Form />
</article></div>
</Mainlayout>

<style>
.nyhedsbrev{
    margin: 100px;
}
.tilmeld{
    font-weight: bold;
    text-align: center;
}
.kalender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.webf{
            scale: .8; opacity: 0;
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range: 100px 300px;
        }
        @keyframes fade-in {
            to{scale: 1; opacity: 1;}
        }
        

@media (min-width: 650px) {
    .kalender{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 30px;
    padding: 0 50px 30px 50px;
}
.nyhedsbrev{
    margin-bottom: 200px;
}
}


</style>