---
import Mainlayout from "../layout/Mainlayout.astro"
import "../styles/style.css"
import Banner from "../components/Banner.astro"
import Nav from "../components/Nav.astro"
import Kalender from "../components/Kalender.astro"
import Omos from "../components/Omos.astro"
---

<Mainlayout>
    <Nav></Nav>
    <div id="omos"></div>
<Banner text = "OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;OM HOLDIHÅND&nbsp;&nbsp;"/>
<Omos></Omos>
<div id="kunstnere"></div>
<Banner text = "KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;KUNSTNERE&nbsp;&nbsp;"/>
<div id="events"></div>
<Banner text = "EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;EVENT KALENDER&nbsp;&nbsp;"/>
<article class="kalender">
<!--Gøra header2 till link?? -->
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
<Kalender header="Sjælden Fugl" header2="Distortion" text="Nørrebro" text2="30 maj 2024"/>
<Kalender header="Sangt" header2="Way Out West" text="Slottsskogen" text2="11 augusti 2024"/>
<Kalender header="Esther Oxfeldt" header2="V1 Gallery" text="Kødbyen" text2="22 september 2024"/>
</article>
<Banner text = "NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;NYHEDSBREV&nbsp;&nbsp;"/>
</Mainlayout>

<style>
.kalender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

@media (min-width: 650px) {
    .kalender{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 20px;
    justify-items: center; /* Centrera items horisontellt inom sina grid-celler */
}}


</style>