---
const header = Astro.props.header;
const text = Astro.props.text;

---

<article class="card">
    <slot class="img" />
    <div class="name">
     <h3>{header}<span>{text}</span></h3>
   </div>
</article>

<style>

.card{
    height: 451px;
    position: relative;
    margin-bottom: 40%;
}
.card h3 {
    font-size: 40px;
}

@media (max-width: 840px){
    .card{
    height: 400px;
    position: relative;
}
}

@media (max-width: 650px){
    .card{
    height: 300px;
    position: relative;
}
.card h3 {
    font-size: 20px;
}
}
.name{
    padding: 0.2rem;
    position: absolute;
}

@media (max-width: 650px){
    .card{
        height: 150px;
    }
}
</style>

