<footer>
    <div class="nav">
        <p>HoldiHånd Management</p>
        <p>+45 93869610</p>
        <p>kontakt@holdiaand.dk</p>
        <div class="ikoner">
            <img src="public/img/ig.svg" alt="">
            <img src="public/img/fb.svg" alt="">
            <img src="public/img/spotify.svg" alt="">
            <img src="public/img/yt.svg" alt="">
        </div>
    </div>
</footer>

<style>
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ikoner{
    display: flex;
    flex-direction: row;
}
img{
    padding: 5px;
}

</style>