---
import Logo from "./Logo.astro"
---

<footer>
    <div class="logga"><Logo></Logo></div>
    <div class="footer_nav">
        <p class="p_footer">HoldiHånd Management</p>
        <p class="p_footer">+45 93869610</p>
        <p class="p_footer">kontakt@holdihaand.dk</p>
        <div class="ikoner_nav">
           <a href="https://www.instagram.com/holdihaand"><img class="img_nav" id="ig" src="/img/ig.svg" alt="instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=100089966163240"><img class="/img_nav" id="fb" src="img/fb.svg" alt="facebook"></a>
           <a href="https://open.spotify.com/artist/23O7ZuQSrSCrrlY3Y3SoBN"><img class="/img_nav" id="sp" src="img/spotify.svg" alt="spotify"></a>
            <a href="https://www.youtube.com/"><img class="img_nav" id="yt" src="/img/yt.svg" alt="youtube"></a>
        </div>
    </div>
</footer>

<style>
.logga{
    padding-bottom: 100px;
}

.ikoner_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    font-weight: bold;
    text-align: center;
    margin-bottom: 47px;
}

.p_footer{
    margin-bottom: 12px;
}
.img_nav{
    padding: 5px;
}
/*ikoner_nav byter färg */
#ig:hover{
    content: url("/img/ig_hov.svg");
}
#fb:hover{
    content: url("/img/fb_hov.svg");
}
#sp:hover{
    content: url("/img/spotify_hov.svg");
}
#yt:hover{
    content: url("/img/yt_hov.svg");
}
@media (min-width: 1050px){
    footer{
        margin-left: 30px;
        margin-right: 60px;
    }
.footer_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}

</style>