---
import Logo from "./Logo.astro"
---

<footer>
    <Logo></Logo>
    <div class="footer_nav">
        <p class="p_footer">HoldiHånd Management</p>
        <p class="p_footer">+45 93869610</p>
        <p class="p_footer">kontakt@holdihaand.dk</p>
        <div class="ikoner_nav">
           <img class="img_nav" id="ig" src="img/ig.svg" alt="instagram">
            <img class="img_nav" id="fb" src="img/fb.svg" alt="facebook">
            <img class="img_nav" id="sp" src="img/spotify.svg" alt="spotify">
            <img class="img_nav" id="yt" src="img/yt.svg" alt="youtube">
        </div>
    </div>
</footer>

<style>
.logga{
    padding-bottom: 200px;
}

.ikoner_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    font-weight: bold;
    text-align: center;
    margin-bottom: 47px;
}

.p_footer{
    margin-bottom: 12px;
}
.img_nav{
    padding: 5px;
}
/*ikoner_nav byter färg */
#ig:hover{
    content: url("/img/ig_hov.svg");
}
#fb:hover{
    content: url("/img/fb_hov.svg");
}
#sp:hover{
    content: url("/img/spotify_hov.svg");
}
#yt:hover{
    content: url("/img/yt_hov.svg");
}
@media (min-width: 1050px){
    footer{
        margin-left: 30px;
        margin-right: 60px;
    }
.footer_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ikoner_nav img{
    width: 40%;
}

}

</style>