<!--Göra till netlify?? -->
<article>
    <form action="/action_page.php">
        <input type="text" name="name" value="Navn"><br>
        <input type="text" name="e-mail" value="E-mail"><br>
        <input type="submit" value="Send">
      </form> 
</article>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
input[type=text]{
  width: 243px;
  height: 43px;
  color: rgb(106, 103, 103);
  background-color: var(--lysgrå_col);
  border: none;
  border-radius: 1.5px;
  font-size: 15px;
  padding-left: 10px;
}
input[type=submit] {
  width: 116px;
    height: 36px;
    color: var(--background_col);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
@media (min-width: 650px){

input[type=text]{
  width: 510px;
  height: 78px;
  font-size: 30px;
  padding-left: 10px;
}
input[type=submit] {
    width: 258px;
    height: 81px;
    color: var(--background_col);
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}}
</style>