<!--Göra till netlify?? -->
<article>
    <form action="/action_page.php">
        <input type="text" id="fname" name="fname" value="Fornavn"><br><br>
        <input type="text" id="lname" name="lname" value="Efternavn"><br><br>
        <input type="submit" value="Send">
      </form> 
</article>

<style>
   input{
  width: 243px;
  height: 43px;
  color: grey;
  background-color: var(--lysgrå_col);
  border: none;
} 
input[type=submit] {
    width: 105px;
}
</style>