<div class="header">
<div class="nav">
    <a href="#omos">Om HoldiHånd</a>
    <a href="#kunstnere">Kunstnere</a>
    <a href="#kalender">Kalender</a>
</div>

<div class="ikoner">
    <img id="ig" src="img/ig.svg" alt="instagram">
    <img id="fb" src="img/fb.svg" alt="facebook">
    <img id="sp" src="img/spotify.svg" alt="spotify">
    <img id="yt" src="img/yt.svg" alt="youtube">
</div>
</div>
<style>
    .nav{
   display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    }

.header{
    display: flex;
    justify-content: space-between;
}
.ikoner{
    display: none;
}
@media (min-width: 500px){
    img{
    padding: 5px;
}

    .ikoner{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 10px;
}
#ig:hover{
    content: url("/img/ig_hov.svg");
}
#fb:hover{
    content: url("/img/fb_hov.svg");
}
#sp:hover{
    content: url("/img/spotify_hov.svg");
}
#yt:hover{
    content: url("/img/yt_hov.svg");
}

img{
    padding: 3.5px;
height: 40px;
}
}

</style>