<div class="header">
    
    <div class="dropdown">
    <button class="dropbtn">MENU</button>
<div class="nav">
    <a href="#omos">Om HoldiHånd</a>
    <a href="#kunstnere">Kunstnere</a>
    <a href="#kalender">Kalender</a>
</div>
</div>

<div class="ikoner">
    <img id="ig" src="img/ig.svg" alt="instagram">
    <img id="fb" src="img/fb.svg" alt="facebook">
    <img id="sp" src="img/spotify.svg" alt="spotify">
    <img id="yt" src="img/yt.svg" alt="youtube">
</div>
</div>
<style>

.dropbtn {
  background-color: rgba(255, 255, 255, 0.7);
  color: #00415D;
  border: none;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--font_col);
}

.dropdown {
  place-content: end end;
  padding: 5px;
  position: fixed;
  display: inline-block;
  top: 20px;
  left: 20px;
  z-index: 7;
}

.nav {
  display: none;
  position: fixed;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 90%;
  border-radius: 10px;
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--font_col);
}

.nav a {
  color: #00415D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.nav a:hover {
  background-color: var(--hover_col;)
}

.dropdown:hover .nav {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--hover_col);
}


.header{
    display: flex;
    justify-content: space-between;
}
.ikoner{
    display: none;
}
@media (min-width: 500px){
    img{
    padding: 5px;
}

    .ikoner{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 10px;
}
#ig:hover{
    content: url("/img/ig_hov.svg");
}
#fb:hover{
    content: url("/img/fb_hov.svg");
}
#sp:hover{
    content: url("/img/spotify_hov.svg");
}
#yt:hover{
    content: url("/img/yt_hov.svg");
}

img{
    padding: 3.5px;
height: 40px;
}
}

</style>