---

---
<div class="hero_container">
<!-- <img class="logo" src="/img/logov1.png" alt="logo"> -->
<img class="gif" src="/img/hih2.gif" alt="gif">

<div class="events">
  <a href="#events">
    <div class="knap1">Kommende events</div>
  </a>
</div>

<div class="kunstnere">
    <a href="#kunstnere">
      <div class="knap2">Udforsk kunstnere</div>
    </a>
  </div>

  <div class="boka">
    <a href="/book">
      <div class="knap3">Book møde</div>
    </a>
  </div>

  <div class="scroll-down"></div>
</div>

<style>
  span{
    display: flex;
    flex-direction: column;
  }
  .ikons{
    position: absolute;
    right: 5px;

  }
    .hero_container{
        position: relative;
        /* margin-bottom: 70px; */
    }
    .gif {
        display: block;
        width: 1440px;
        object-fit: cover;
        object-position: center;
        opacity: 70%;
    }

    .logo{
        position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 40%;
    }

   .knap1, .knap2, .knap3 {
    background-color: var(--lysgrå_col);
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100px;
    height: 37px;
    font-size: 15px;   
    text-transform: uppercase; 
  color: var(--background_col);
  font-weight: bold;
  transition: width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
  z-index: 4;
  border-radius: 1.5px;
  position: absolute;
    text-align: center;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  .knap1 {
    left: 18%;
  }
    .knap2 {
    left: 50%;
  }
  .knap3{
    left: 82%;
  }
  .scroll-down{
    background: #c4c4c4;
    bottom: 0;
    display: inline-block;
    height: 80px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 2px;
    margin-bottom: -35px;
  }
  .scroll-down::before{
    animation: scrollDown 1.5s infinite;
    background: #fff;
    content: '';
    display: inline-block;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
  }

  @keyframes scrollDown {
    0%{
        transform: translate3d(0, -32px, 0);
    }
    50%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(0, 65px, 0);
    }
  }
  @media (min-width: 500px){
    .knap1, .knap2, .knap3 {
      width: 155px;
      height: 50px;
      font-size: 20px;
    }
  }
    @media (min-width: 820px){
        .gif{
            width: 100%;
            height: 660px;
        }
        .logo{
            width: 20%;
        }
        .knap1, .knap2, .knap3 {
          width: 220px;
      height: 69px;
      font-size: 25px;
    }
        .knap:hover { 
          width: 256px;
      height: 79px;
      font-size: 29px;
    }
    .scroll-down{
        height: 140px;
    }
    .knap1:hover, .knap2:hover, .knap3:hover{
      width: 256px;
      height: 79px;
      font-size: 29px;
    }
    }
</style>