---
const header = Astro.props.header;
const header2 = Astro.props.header2;
const text = Astro.props.text;
const text2 = Astro.props.text2;
---

<article>
<h4>{header}</h4>
<a class="bold" href="https://www.cphdistortion.dk/">{header2}</a>
<p>{text}</p>
<p>{text2}</p>
</article>

<style>
    article{
        padding-bottom: 30px;
    }
    .bold{
    font-weight: bold;
    color: var(--grå_col);
    text-decoration: none;
    font-size: 18px;
    }
    p{
        padding-top: 4px;
    }
    
    @media (min-width: 650px){
    p{
        padding-top: 10px;
    }
    .bold{
    font-size: 27px;
}
    }
</style>