<article>
    <div class="left">
        <img id="west" src="/img/lp.svg" alt="vænster pil">
    </div>
    <div class="right">
        <img id="east" src="/img/rp.svg" alt="høger pil">
    </div>
</article>

<style>
#west:hover{
    opacity: 60%;
}
#east:hover{
    opacity: 60%;
}
img{
    width: 8%;
}
@media (min-width: 820px)
{
    img{
    width: 5%;
}
}


</style>