<section>
    <div class="omos">
      <a href="#omos">
        <div class="knap1">Om HoldiHånd</div>
      </a>
    </div>
    <div class="kunstnere">
      <a href="#kunstnere">
        <div class="knap2">Kunstnere</div>
      </a>
    </div>
    <div class="events">
      <a href="#events">
        <div class="knap3">Events</div>
      </a>
    </div>
  </section>
  
  <style>
  section {
    display: flex;
    flex-direction: row;
  }
  section p{
    color: var(--background_col); 
    font-size: 15px;
    font-weight: bold;
  }
  
  .omos, .kunstnere, .events {
    position: relative;
    width: 158px; /* Justera detta till bildens bredd */
    height: 266px; /* Justera detta till bildens höjd */
    background-size: cover;
  }
  
  .omos {
    background-image: url(/img/omos.webp);
  }
  
  .kunstnere {
    background-image: url(/img/kunstnere.webp);
  }
  
  .events {
    background-image: url(/img/events.webp);
  }
  
  .knap1, .knap2, .knap3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lysgrå_col);
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 106px;
    height: 33px;
    border-radius: 1.5px;
  color: var(--background_col);
  font-weight: bold;
  font-size: 15px;   
  transition: width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
  }

    @media (min-width: 500px){
        .knap1, .knap2, .knap3 {
      width: 155px;
      height: 50px;
    }
    .omos, .kunstnere, .events {
    position: relative;
    width: 340px;
    height: 467px; 
    background-size: cover;
  }
    }
  @media (min-width: 820px) {
    .knap1, .knap2, .knap3 {
      width: 220px;
      height: 61px;
      font-size: 25px;
    }
    .omos, .kunstnere, .events {
    position: relative;
    width: 485px;
    height: 551px; 
    background-size: cover;
  }
  /*knapp hover */
  .knap1:hover, .knap2:hover, .knap3:hover{
      width: 256px;
      height: 79px;
      font-size: 29px;
    }
    section{
      padding: 0 50px 30px 50px;
    }
  }
  </style>
  