<section>
<div class="omos">
    <a href="#">
        <div class="knap1">
 </div>
</a>
</div>
<div class="kunstnere">
    <a href="#">
        <div class="knap2">
 </div>
</a>
</div>
<div class="events">
    <a href="#">
        <div class="knap3">
 </div>
</a>
</div>
</section>

<style>

@media (min-width: 650px){
    .omos{
        background-image: url(/img/);
    }
    section{
        display: flex;
        flex-direction: row;
    }
.knap1, .knap2, .knap3{
    width: 258px;
    height: 81px;
    background-color: var(--lysgrå_col);
}}
</style>