<section>
<div class="omos">
    <a href="#omos">
        <div class="knap1">
 </div>
</a>
</div>
<div class="kunstnere">
    <div class="knap2">
    </div>
</div>
<div class="events">
    <div class="knap3">

    </div>
</div>
</section>

<style>

@media (min-width: 650px){
.knap1, .knap2, .knap3{
    width: 258px;
    height: 81px;
    background-color: var(--lysgrå_col);
}}
</style>