<article>
    <div class="text">
<p>HoldiHånd er et management, der brænder for at fremme kunst og kultur på tværs af forskellige kunstformer. Vi stræber efter at skabe unikke muligheder for kunstnere gennem spændende events og innovative projekter, der styrker deres kreative rejser.</p>
<p>HoldiHånd blev grundlagt af højskolevennerne Niosha og Fanny i 2023 og har sit hovedsæde i hjertet af København. Siden da er vores team vokset med et medlem mere, den søde Sigga. Vi er et passioneret team, der elsker at opdage og støtte talentfulde kunstnere, så de kan nå deres fulde potentiale og inspirere publikum over hele Danmark.</p>
</div>
<img src="/img/omos.webp" alt="HoldiHånd billede">
</article>

<style>
     .text{
        padding: 0 20px 20px 20px;
    }
    p{
      padding: 8px;
    }
    article{
      display: grid;
      align-items: center;
        justify-items: center;
        background-color: #21314A;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px 5px 5px 5px;
    }

    @media (min-width: 500px){
    .text{
        padding: 0 30px 30px 30px;
    }
    img{
      height: 400px;
    }
  }
    @media (min-width: 1000px)
    {
      article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    align-content: center;
    justify-items: center;
    margin-left: 50px;
        margin-right: 50px;

      }
      p{
      padding-bottom: 27px;
    }
    .text{
        padding: 0 30px 30px 30px;
    }
    }
</style>