---
// import Footer from "../components/Footer.astro"
// import Header from "../components/Header.astro"
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<!--astros favicon: -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!--favicon
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">-->
        <!--font -->
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<title>HoldiHånd</title>
	</head>
	<body>
<main>
    <slot/>
</main>
	</body>
</html>

<style>

</style>